.App {
  font-family: sans-serif;
  text-align: center;
}

.slow-list {
  margin-top: 1rem;
  display: grid;
  gap: 8px;
}

.TooltipContent {
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1;
  color: #505fd8;
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
}

.performance-table {
  margin: 1rem auto;
  border-collapse: collapse;
  min-width: 400px;
}

.performance-table th {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
}

.performance-table th:first-child {
  text-align: left;
}

.performance-table th:last-child {
  text-align: right;
}

.performance-table td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eee;
}

.performance-table td:first-child {
  text-align: left;
}

.performance-table td:last-child {
  text-align: right;
  font-family: monospace;
}
